@model Medicare.Models.Consultation
<style>



</style>

<br /><br /><br />
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://media.istockphoto.com/photos/thank-you-message-for-card-presentation-business-expressing-gratitude-picture-id1397892955?k=20&m=1397892955&s=612x612&w=0&h=pG2Ti1uDbmeWooU_65wD5QqusFfir2_sXtNWCk9ynLs=" alt="vedio consultation" height="500px " width="100%">
            <div class="carousel-caption d-none d-md-block text-dark bold text-left" style="bottom:0%; margin-left:0px">
               
            </div>
        </div>
    </div>
</div>



<div>
    <br /><br />
    <h1>Thank you for Our expert Consultation...!
    </h1>
    <h3>Stay Happy and Healthy</h3>
<h4>Click on home page..!</h4>
    <br /><br />
</div>


